/* Général */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

/* Menu de navigation */
nav {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
}

nav a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
}


nav .navbar-nav {
    display: flex;
    flex-direction: row;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

/* Conteneur principal */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

h1, h2 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

/* Tableaux */
table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

/* Boutons */
button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

td>button {
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* Formulaires */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

form button {
    width: 100%;
    background-color: #28a745;
    font-size: 1.2rem;
}

form button:hover {
    background-color: #218838;
}

/* Messages d'erreur ou succès */
#responseMessage {
    color: green;
    font-weight: bold;
}

#errorMessage {
    color: red;
    font-weight: bold;
}
