<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ajouter un Morceau</title>
        <link rel="stylesheet" href="../styles.css">
    </head>
    <body>
        <!-- Menu de navigation -->
        <nav>
            <ul class="menu">
                <li><a href="index.html">Accueil</a></li>
                <li><a href="albums.html">Albums</a></li>
                <li><a href="artists.html">Artistes</a></li>
                <li><a href="songs.html">Morceaux</a></li>
                <li><a href="genres.html">Genres</a></li>
                <li><a href="signup.html">Sign up</a></li>
                <li><a href="login.html">Sign in</a></li>
            </ul>
        </nav>

        <div class="container">
            <h2>Ajouter un Morceau à l'Album</h2>

            <form id="songForm">
                <label for="titre">Titre du morceau :</label>
                <input type="text" id="titre" name="titre" required>

                <label for="duree">Durée du morceau :</label>
                <input type="text" id="duree" name="duree" required>

                <button type="submit">Ajouter le Morceau</button>
            </form>
        </div>

        <script src="../scripts/song-add.js"></script>
    </body>
</html>
